<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compiler - PNU</title>
    <link rel=stylesheet href="../doc/docs.css">
    <link rel="stylesheet" href="/styles/grid.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/../lib/codemirror.css">
    <link rel="stylesheet" href="../theme/darcula.css">
    <script type="text/javascript" src="../lib/codemirror.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../mode/python/python.js"></script>
    <script src="../mode/clike/clike.js"></script>
    <script src="../mode/perl/perl.js"></script>
    <script src="../mode/r/r.js"></script>
    <script src="../mode/javascript/javascript.js"></script>
    <script src="../mode/shell/shell.js"></script>
    <script src="../addon/selection/active-line.js"></script>
    <script src="../addon/edit/matchbrackets.js"></script>
    <script>
        var user_id = '<%= user_id %>';
        var uname = '<%= name %>';
    </script>

    <!--    추가본입니다 -->
    <script>if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }</script>
    <!--    <link rel="stylesheet" href="/lib/bootstrap.min.css">-->
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/app.css">
</head>
<body>
<!--추가본입니다-->

<!--추가본 끝입니다-->
<div id="menu">
    <div class="container">
        <a href="/compile">
            <div class="logosmall"></div>
        </a>
        <ul class="menu">
            <% if(user_id){ %>
                <li>Welcome! <%= name %></li>
                <li><a href='/logout'>Log Out</a></li>
            <% }else{ %>
                <li><a href='/login'>Login</a></li>
            <% } %>
            <li><a href='/compile'>Compile</a></li>
            <li><a href='/web'>WebDevelop</a></li>
            <li><a href='/c_developer'>C_Develop</a></li>
            <li><a href='/java_developer'>JAVA_Develop</a></li>
            <li><select name="theme" id="theme" style="margin-left:10px;" onchange="onThemeChange()">
                    <option value="idea">idea</option>
                    <option value="darcula" selected="selected">darcula</option>
                </select></li>
        </ul>
    </div>
</div>
<% if(user_id){ %>
    <div class="panel panel-default mainpanel" style="float: left">
        <div class="panel-heading">
            <div style="text-align:center">
                File Browser
            </div>
            <span class="up">
                    <i class="fa fa-level-up"></i> Up
                   </span>
            <!--        <span class="add" id="add_button" onclick="onAddClicked()">-->
            <span class="add" id="add_button">
                    <i class="fa fa-level-up"></i> Add
                   </span>
            <!--        <span class="delete" id="delete_button" onclick="onDeleteClicked()">-->
            <span class="delete" id="delete_button">
                    <i class="fa fa-level-up"></i> Delete
                   </span>
            <div><span class="down" id="download_button">
		    <i class="fa fa-level-up"></i> Down		
		   </span></div>
        </div>
        <div class="panel-body">
            <table class="linksholder">
            </table>
        </div>
    </div>
<% } %>
<div class="article">
    <div class="grid">

        <div id="title" style="font-size: 13pt;  font-family: 'segoeblack'; margin-left : 5px"></div>

        <form method="post" id="myCode">
            <div class="col-9-12">
                <textarea name="script" id="code" class="codemirror-textarea"></textarea>
                <div><br></div>
                <input class="btn" id="run" name="save_and_compile" type="button" value="Run!">
                <input class="btn" id="button_save" type="button" value="save!">
            </div>
            <div class="col-3-12">
                <div class="loading" style="display:none"></div>
                <h3>Input</h3>
                <textarea name="inputs" id="inputs" cols="30" rows="4"></textarea>
                <h3>Server Result</h3>
                <textarea name="result" id="result" cols="30" rows="8" disabled="disabled"></textarea>
                Execution time : <span id="time"></span>
            </div>
        </form>
    </div>
</div>

<script src="./js/function.js"></script>
<script>
    var save_file_path = ''

    editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        // 언어 스타일 정의하는 부분 mode를 ./public/mode 내의 폴더명 중 하나로 선택하면 그 스타일로 변경됨 +
        // 변경을 위해서는 최상단에 script 태그로 폴더 경로와 폴더내 js파일 추가해줘야 함함
        mode: "text/x-java",
        styleActiveLine: true,
        matchBrackets: true
    });
    // 테마 옵션 설정하는 부분 -> 코드미러 테마 참조
    editor.setOption("theme", "darcula");


    function file_select(obj) {
        console.log($(obj).data("file_path"));
        if (confirmCheck()) {
            return;
        }
        $.ajax({
            type: "POST",
            url: "/api/read_file",
            data: {"file_path": "save/" + uname + "/java_developer/" + $(obj).data("file_path")},
            // success 응답에 대한 콜백 함수
            success: function (data) {
                console.log("file select success");
                console.log(data.data);
                $("#title").html($(obj).data("file_path"))
                editor.setValue(data.data)
                editor.refresh();
                save_file_path = $(obj).data("file_path")
                console.log(save_file_path);
            },
            // error 함수에 대한 콜백 함수
            error: function (error) {
                console.log("file select error");
            }
        });
    }

    $('#button_save').click(function (event) {
        if (LoginCheck()) {
            return;
        }
        // console("submit is "+ this.name)
        $('#code').val(editor.getValue());
        event.preventDefault();
        console.log($(document.activeElement).val());
        var datastring = $("#myCode").serialize();
        $("#myCode :input").attr("disabled", true);
        if (save_file_path == '') {
            alert("file select please!");
            return;
        }
        console.log("called save file " + save_file_path)
        console.log("called data file " + $("#code").val())
        $.ajax({
            type: "POST",
            url: "/api/save_file",
            data: {
                "file_path": save_file_path,
                "dataString": $("#code").val()
            },
            // success 응답에 대한 콜백 함수
            success: function (data) {
                alert("Save Complete");
                $("#myCode :input").attr("disabled", false);
            },
            // error 함수에 대한 콜백 함수
            error: function (error) {
                $("#myCode :input").attr("disabled", false);
                console.log("file save error");
            }
        });
    });

    $('#run').click(function (event) {
        if (LoginCheck()) {
            return;
        }
        $('#result').val("");
        $('#time').empty();
        $('.loading').slideDown('slow');
        $("#myCode :input").attr("disabled", true);

        $.ajax({
            type: "POST",
            url: "/api/java",
            data: {
                "inputs": $("#inputs").val()
            },
            // success 응답에 대한 콜백 함수
            success: function (data) {
                if (data.success) {
                    console.log("#####2-1-Success");
                    $('#result').val(data.result);
                    $('#time').html(data.timeExec + ' ms');
                    console.log("###TIME####");
                    console.log(data.timeExec);
                } else {
                    console.log("#####2-1-error");
                    $('#result').html(data.error);
                }
                $("#myCode :input").attr("disabled", false);
                $('.loading').slideUp('slow');
            },
            // error 함수에 대한 콜백 함수
            error: function (error) {
                $("#myCode :input").attr("disabled", false);
                console.log("file select error");
            }
        });
    });

</script>
<div class="article footer">
    &copy; Copyright &copy; 2014 Sonnylab
</div>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/datatable/js/jquery.datatables.min.js"></script>
<script src="/lib/app.js"></script>
</body>
</html>
